.about{
    margin: 12rem auto 0 auto;

    height: 40em;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 1em;

    .about__section{

        @include flex( column, nowrap, none, flex-start, 0.1em);
        @include card($font-title, $font-size-1);

        .about__p{
            margin: 1em 1em;
            font-size: $font-size-4;
            font-family: $font-base;
        }

        .about__h3{
            font-size: $font-size-2;
            margin-left: 0.6em;

            text-align: left;
        }

    }

    .about__title{
        grid-column: 1 / 3;
        grid-row: 1 / 5;

        @include flex( column, nowrap, center, center, 0.1em);

        .about__p--title{
            margin-bottom: 1.5em;
            font-weight: 300;
        }
    }

    .resume{
        grid-column: 1 / 3;
        grid-row: 3 / 10;
    }
    .soft{
        grid-column: 3 / 6;
        grid-row: 3 / 8;
    }
    .hobbies{
        grid-column: 6 / 8;
        grid-row: 3 / 6;
    }
    .social{
        grid-column: 3 / 6;
        grid-row: 8 / 11;
    }
    .study{
        grid-column: 6 / 8;
        grid-row: 7 / 11;
    }
}




