.about{
    margin: 12rem auto 0 auto;

    height: 40em;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 1em;

    .about__section{
        padding: 1rem 1.5rem 2rem 1.5rem;
  

        @include flex( column, nowrap, space-between, none, 0.1em);
        @include card($font-title, $font-size-1);

        .about__p{
            // margin: 0.5em 0.2em;
            font-size: $font-size-4;
            font-family: $font-base;
        }


        .about__h3{

            font-size: $font-size-2;

            text-align: left;
        }

    }

    .about__title{
        grid-column: 1 / 3;
        grid-row: 1 / 5;

        @include flex( column, nowrap, center, center, 0.1em);

        .about__p--title{
            margin-bottom: 1.5em;
            font-weight: 300;
        }
    }

    .resume{
        grid-column: 1 / 3;
        grid-row: 3 / 10;

    }
    .soft{
        grid-column: 3 / 6;
        grid-row: 3 / 8;

        .about__p--skills{
            line-height: 0.9;
        }

        .about__span{
            font-weight: 600;
        }
    }
    .hobbies{

        grid-column: 6 / 8;
        grid-row: 3 / 6;

        .about__p--hobbie{
            line-height: 0.9;
        }

        .about__span{
            font-weight: 600;
        }
    }

    .social{
        padding: 2rem 1.5rem;
        grid-column: 3 / 6;
        grid-row: 8 / 11;

        .about__section--social{
            @include flex( row, wrap, flex-start, flex-start, 1rem);
        }
    }
    .study{
        grid-column: 6 / 8;
        grid-row: 7 / 11;

        .about__section--study{
            @include flex( row, wrap, flex-start, flex-start, 1rem);
        }
    }
            .skills__img{
            width: 3rem;
        }
}




