.contact{
    margin: 12rem 0 0 0;
    width: 100%;
    height: 35em;
    @include flex(column, nowrap, flex-start, flex-start, 1em);

    .contact__section{
        padding: 2em 2em;

        @include card($font-title, $font-size-3);
        @include flex(row, nowrap, space-evenly, flex-start, 0);
    

    }

    .contact__title{
        width: 22.2rem;


        .contact__p--title{

            margin: 0 0 0.2em 0;

            font-size: $font-title;
            font-size: $font-size-1;
            font-weight: 300;
        }
    }

    .greeting{
        height: 30em;

        .contact__greeting{
            
            .contact__p{
                font-family: $font-base;
                font-size: $font-size-4;
                text-align: justify;
            }
    
            .p--margin{
                margin-bottom: 2em;
            }
        }
    }
    

    &__form{

        margin: 0 0 0 5em;
        @include flex(column, nowrap, flex-start, flex-start, 0.5em);

        .form__input{
            padding: 0.2em 0.4em;

            border-radius: $border-radius-5px;
            font-size: $font-size-5;
            width: 25em;
            height: 2em;
            box-shadow: $shadow-button;
        }
        .form__area{
            padding: 0.2em 0.4em;

            border-radius: $border-radius-5px;
            font-size: $font-size-5;
            width: 25em;
            height: 6em;

            box-shadow: $shadow-button;
        }

        .form__buttons{
            margin: 0 auto;
            @include flex(row, nowrap, center, center, 1em);

            .form__button{
                border-radius: $border-radius-5px;
                color: $tertiary;
                font-size: $font-size-5;
                width: 8em;
                height: 2em;
                background-color: $secondary;

                border: none;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                &:hover{
                    color: $secondary;
                    background-color: $tertiary;
                }
            }
        }
    }
}


