.footer{
    margin: 8em auto 4em auto;

    height: 5em;
    width: 100%;

    @include card($font-base, $font-size-4);

    .footer__section{
        height: 100%;
        @include flex( row, nowrap, space-between, center, 0);
        padding: 1em 2em;
    }
}