.footer{
    margin: 8em auto 4em auto;

    height: 5em;
    width: 100%;

    @include card($font-base, $font-size-4);


    .footer__section{
        width: 100%;
        height: inherit;
        @include flex( row, nowrap, space-between, center, 0);
        padding: 0.5em 2em;

        .footer__right{
            @include flex( row, nowrap, space-between, center, 3em);
            height: inherit;
            
        }
        .footer__img{
            width: 42px;
        }

    }

}