@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200;400&display=swap');

//Colors
$primary : #FCFCFE;
$text: #181616;
$secondary : #3B5756;
$tertiary : #26FBD1;

//Fonts
$font-title: 'Oswald', sans-serif;
$font-base: 'Cantarell', sans-serif;

//Fonts-size
$font-size-1: 5em;
$font-size-2: 3rem;
$font-size-3: 1.5rem;
$font-size-4: 1.2rem;
$font-size-5: 1rem;

//Borders
$border-1: 1px solid rgba(0, 0, 0, 0.2);

//Borders-radius
$border-radius-40px: 2.5rem;

//Shadows
$shadow-card: 4px 2px 12px 1px rgba(0, 0, 0, 0.1);





